.setting {
  align-items: center;
  background: rgba(0, 0, 0, .8);
  bottom: 0;
  color: $light;
  display: flex;
  justify-content: center;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;

  &-body {
    margin: auto;
    max-width: 800px;
    padding: $spacer;
  }
}
